Source: audioreach-pal
Section: misc
Maintainer: Sairamreddy Bojja <sbojja@qti.qualcomm.com>
Uploaders:
 Agathe Porte <agathe.porte@oss.qualcomm.com>,
 Lukas Märdian <lukas.maerdian@oss.qualcomm.com>,
Build-Depends:
 debhelper-compat (= 13),
 audioreach-audio-utils-dev,
 libagm-dev,
 libar-acdb-dev,
 libar-ats-dev,
 libar-gpr-dev,
 libar-gsl-dev,
 libar-osal-dev,
 libar-spfhdrs-dev,
 libar-util-dev,
 libexpat1-dev,
 libglib2.0-dev,
 libtinyalsa-dev,
 libtinycompress-dev,
 pkgconf,
 qcom-kvh2xml-dev,
Standards-Version: 4.6.2
Homepage: https://github.com/Audioreach/audioreach-pal
Vcs-Git: https://github.com/qualcomm-linux/pkg-audioreach-pal.git
Vcs-Browser: https://github.com/qualcomm-linux/pkg-audioreach-pal

Package: audioreach-pal
Architecture: arm64
Section: libs
Depends:
 audioreach-audio-utils,
 audioreach-conf,
 ${misc:Depends},
 ${shlibs:Depends},
Description: AudioReach platform abstraction layer
 Provides APIs to configure and control audio use cases by bridging
 user-space audio frameworks with underlying audio hardware.

Package: audioreach-pal-dev
Architecture: arm64
Description: AudioReach pal - development files
 AudioReach platform abstraction layer
 Provides APIs to configure and control audio use cases by bridging
 user-space audio frameworks with underlying audio hardware.
 .
 This package contains library headers for the shared libraries shipped in the
 audioreach-pal package.
Section: libdevel
Depends:
 audioreach-pal (= ${binary:Version}),
 ${misc:Depends},
