Source: audioreach-pal
Section: misc
Maintainer: Sairamreddy Bojja <sbojja@qti.qualcomm.com>
Uploaders:
 Agathe Porte <agathe.porte@oss.qualcomm.com>,
 Lukas Märdian <lukas.maerdian@oss.qualcomm.com>,
Build-Depends:
 debhelper-compat (= 13),
 audioreach-kvh2xml-dev,
 audioreach-spf-dev,
 libagm-dev,
 libaudioreach-gsl-dev,
 libaudioreach-osal-dev,
 libaudioroute-dev,
 libexpat1-dev,
 libglib2.0-dev,
 libtinyalsa-dev,
 libtinycompress-dev,
 pkgconf,
Standards-Version: 4.6.2
Homepage: https://github.com/Audioreach/audioreach-pal
Vcs-Git: https://github.com/qualcomm-linux/pkg-audioreach-pal.git
Vcs-Browser: https://github.com/qualcomm-linux/pkg-audioreach-pal

Package: audioreach-pal
Architecture: arm64
Depends:
 audioreach-conf,
 audioreach-pal-plugins (= ${binary:Version}),
 ${misc:Depends},
Description: AudioReach platform abstraction layer
 Provides APIs to configure and control audio use cases by bridging
 user-space audio frameworks with underlying audio hardware.
 .
 This package contains data and configuration.

Package: audioreach-pal-plugins
Architecture: arm64
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: AudioReach platform abstraction layer - plugins
 Provides APIs to configure and control audio use cases by bridging
 user-space audio frameworks with underlying audio hardware.
 .
 This package contains plugin libraries for different scenarios.

Package: libaudioreach-pal1
Architecture: arm64
Multi-Arch: same
Section: libs
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: AudioReach platform abstraction layer - shared libraries
 Provides APIs to configure and control audio use cases by bridging
 user-space audio frameworks with underlying audio hardware.
 .
 This package contains shared libraries for the PAL.
Breaks:
 audioreach-pal (<< 1.0.0-0qli+staging2~),
Replaces:
 audioreach-pal (<< 1.0.0-0qli+staging2~),

Package: libaudioreach-pal-dev
Architecture: arm64
Description: AudioReach pal - development files
 AudioReach platform abstraction layer
 Provides APIs to configure and control audio use cases by bridging
 user-space audio frameworks with underlying audio hardware.
 .
 This package contains library headers for the shared libraries shipped
 in the libaudioreach-pal1 package.
Section: libdevel
Depends:
 libaudioreach-pal1 (= ${binary:Version}),
 ${misc:Depends},
Provides:
 audioreach-pal-dev,
Breaks:
 audioreach-pal-dev (<< 1.0.0-0qli+staging2~),
Replaces:
 audioreach-pal-dev (<< 1.0.0-0qli+staging2~),
